body {
  margin: auto;
  font-family: "Arial", sans-serif;
  background-color: rgb(175, 31, 32);
}

img {
  background-image: url(imgs/top.jpg);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  background-color: aqua;
}

.bannerimg {
  position: relative;
  background-color: aqua;
}

.bannertext {
  font-family: cursive;
  position: absolute;
  font-size: 55px;
  top: 2%;
  left: 37%;
  right: 0;
  margin: auto;
  padding: 2%;
  text-shadow: 2px 2px 4px #000000;
}

.secondbannerimg {
  position: absolute;
  bottom: 0;
  padding: 3%;
  width: 400px;
  clip-path: circle(30%);
  background-color: aqua;
}

.infobox {
  width: 700px;
  border: 15px solid rgb(255, 255, 255);
  padding: 5px;
  margin: 20px auto;
  background-color: aqua;
  font-family: cursive;
  border: 15px solid rgb(255, 255, 255);
  background-color: rgb(175, 31, 32);
  font-size: large;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
  width: 900px;
}

.procedures1 {
  flex: 1 0 200px;
  padding: 7%;
  margin: 0px;
  border: 8px solid rgb(255, 255, 255);
  background-color: rgb(175, 31, 32);
  font-family: cursive;
  background-repeat: no-repeat;
  background-size: contain;
}

.procedures1 img {
  width: 100%;
  height: auto;
}

.procedures2 {
  flex: 1 0 200px;
  padding: 7%;
  margin: 0px;
  border: 8px solid rgb(255, 255, 255);
  background-color: rgb(175, 31, 32);
  font-family: cursive;
  background-repeat: no-repeat;
  background-size: contain;
}

.procedures2 img {
  width: 100%;
  height: auto;
}

.procedures3 {
  flex: 1 0 200px; /* Adjust the width to fit your desired layout */
  padding: 7%;
  margin: 0px;
  border: 8px solid rgb(255, 255, 255);
  background-color: rgb(175, 31, 32);
  font-family: cursive;
  background-repeat: no-repeat;
  background-size: contain;
}

.procedures3 img {
  width: 150%;
  height: auto;
}

.procedures4 {
  flex: 1 0 200px; /* Adjust the width to fit your desired layout */
  padding: 7%;
  margin: 0px;
  border: 8px solid rgb(255, 255, 255);
  background-color: rgb(175, 31, 32);
  font-family: cursive;
  background-repeat: no-repeat;
  background-size: contain;
}

.procedures4 img {
  width: 100%;
  height: auto;
}
