body {
  margin: auto;
  font-family: "Arial", sans-serif;
  background-color: rgb(173, 32, 32);
}

img {
  background-image: url(imgs/top.jpg);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  background-color: aqua;
}

.bannerimg {
  position: relative;
  background-color: aqua;
}

.bannertext {
  font-family: cursive;
  position: absolute;
  font-size: 57px;
  top: 2%;
  left: 37%;
  right: 0;
  margin: auto;
  padding: 2%;
  text-shadow: 2px 2px 4px #000000;
}

.secondbannerimg {
  position: absolute;
  bottom: 0;
  padding: 3%;
  width: 400px;
  clip-path: circle(30%);
  background-color: aqua;
}

.infobox {
  width: 500px;
  border: 15px solid rgb(255, 255, 255);
  padding: 5px;
  margin: 20px auto;
  background-color: aqua;
  font-family: cursive;
  border: 15px solid rgb(255, 255, 255);
  background-color: rgb(175, 32, 32);
  font-size: large;
}

#procedures1 {
  width: 255px;
  padding: 5%;
  margin: auto;
  border: 15px solid rgb(255, 255, 255);
  float: left;
  background-color: aqua;
  font-family: cursive;
}

#procedures2 {
  width: 255px;
  padding: 5%;
  margin: auto;
  border: 15px solid rgb(255, 255, 255);
  float: left;
  background-color: aqua;
  font-family: cursive;
}

#procedures3 {
  width: 255px;
  padding: 5%;
  margin: auto;
  border: 15px solid rgb(255, 255, 255);
  float: left;
  background-color: aqua;
  font-family: cursive;
}

#procedures4 {
  width: 255px;
  padding: 5%;
  margin: auto;
  border: 15px solid rgb(255, 255, 255);
  float: left;
  background-color: aqua;
  font-family: cursive;
}
