body {
  margin: auto;
  font-family: "Arial", sans-serif;
  background-color: rgb(175, 31, 32);
}

img {
  background-image: url(imgs/top.jpg);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  background-color: aqua;
}

.bannerimg {
  position: relative;
  background-color: aqua;
}

.bannertext {
  font-family: cursive;
  position: absolute;
  font-size: 55px;
  top: 2%;
  left: 37%;
  right: 0;
  margin: auto;
  padding: 2%;
  text-shadow: 2px 2px 4px #000000;
}

.secondbannerimg {
  position: absolute;
  bottom: 0;
  padding: 3%;
  width: 400px;
  clip-path: circle(30%);
  background-color: aqua;
}

.infobox {
  width: 700px;
  border: 15px solid rgb(255, 255, 255);
  padding: 5px;
  margin: 20px auto;
  background-color: aqua;
  font-family: cursive;
  border: 15px solid rgb(255, 255, 255);
  background-color: rgb(175, 31, 32);
  font-size: large;
}

.grid2x2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 10px auto;
  width: 50%;
}

.grid-row {
  display: flex;
  flex-basis: 100%;
}

.procedures1,
.procedures2 {
  flex-basis: auto;
  width: 900px;
  height: 250px;
  padding: 5%;
  margin: 0;
  border: 8px solid rgb(255, 255, 255);
  background-color: rgb(175, 31, 32);
  font-family: cursive;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: right;
}

.procedures3,
.procedures4 {
  flex-basis: auto;
  width: 900px;
  height: 250px;
  padding: 5%;
  margin: 0;
  border: 8px solid rgb(255, 255, 255);
  background-color: rgb(175, 31, 32);
  font-family: cursive;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;

  align-items: left;
  text-align: right;
  color: white;
  overflow: hidden;
}

.procedures1 img,
.procedures2 img,
.procedures3 img,
.procedures4 img {
  width: 70%;
  height: 600px;
}
